<!DOCTYPE html>
<html>

<head>
  <title>Adicionar Produto</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='add_produto.css') }}">
</head>

<div class="navbar">
  <button onclick="menu.hidden^=1"> ☰ </button>

  <ul id="menu" hidden>
    <li>
      <form action="{{ url_for('estoque') }}">
        <button type="submit"> Estoque </button>
      </form>
    </li>

    <li>
      <form action="{{ url_for('att_semanal') }}">
        <button type="submit"> Atualizar Estoque </button>
      </form>
    </li>

    <li>
      <form action="{{ url_for('historico_movimentacoes') }}">
        <button type="submit"> Histórico </button>
      </form>
    </li>

    <li>
      <form action="{{ url_for('login') }}">
        <button type="submit"> Voltar</button>
      </form>
    </li>

    <li>
      <form action="{{ url_for('saida_produto') }}">
        <button type="submit"> Registrar Saída </button>
      </form>
    </li>
  </ul>
</div>

<h1>Cadastrar Produto</h1>

<form action="/salvar_produto" method="post">
  <label>Nome:</label><br>
  <input type="text" name="nome" placeholder="Nome" required><br><br>

  <label>Código:</label><br>
  <input type="text" name="codigo" placeholder="Código do produto "><br><br>

  <label>Categoria:</label><br>
  <input type="text" name="categoria" placeholder="Categoria"><br><br>

  <label>Quantidade inicial:</label><br>
  <input type="number" name="quantidade" placeholder="Quantidade inicial"><br><br>

  <label>Estoque mínimo:</label><br>
  <input type="number" name="estoque_minimo" placeholder="Quantidade mínima" required><br><br>

  <label>Preço de custo:</label><br>
  <input type="number" step="0.10" name="preco_custo" placeholder="Custo"><br><br>

  <label>Preço de venda:</label><br>
  <input type="number" step="0.10" name="preco_venda" placeholder="Valor"><br><br>

  <button type="submit">Salvar</button>
</form>
</body>

</html>