<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='att_semanal.css') }}">
</head>

<body>
  <!-- <form action="{{ url_for('adicionar_produto') }}" class="top-bar">
    <div class="container">
      <button type="submit"> Voltar </button>
    </div>
  </form> -->
  <div class="navbar">
    <button onclick="menu.hidden^=1"> ☰ </button>

    <ul id="menu" hidden>
      <li>
        <form action="{{ url_for('adicionar_produto') }}">
          <button type="submit"> Adicionar Produto </button>
        </form>
      </li>

      <li>
        <form action="{{ url_for('estoque') }}">
          <button type="submit"> Estoque </button>
        </form>
      </li>

      <li>
        <form action="{{ url_for('historico_movimentacoes') }}">
          <button type="submit"> Histórico </button>
        </form>
      </li>

      <li>
        <form action="{{ url_for('adicionar_produto') }}">
          <button type="submit"> Voltar</button>
        </form>
      </li>
    </ul>
  </div>

  <h1> Atualização Semanal de Estoque </h1>
  <form action="/salvar_att_semanal" method="post">
    <label>Nome do Produto:</label><br>
    <input type="text" name="nome" required><br><br>

    <label>Código do Produto:</label><br>
    <input type="text" name="codigo" required><br><br>

    <label>Quantidade atual:</label><br>
    <input type="number" name="quantidade" required><br><br>

    <button type="submit">Atualizar Estoque</button>
  </form>

</body>

</html>