<link rel="stylesheet" href="{{ url_for('static', filename='estoque.css') }}">

<body>
  <form action="{{ url_for('adicionar_produto') }}" class="top-bar">
    <div class="container">
      <button type="submit"> Back </button>
    </div>
  </form>
  <form action="{{ url_for('pedir_prod') }}" class="top-bar">
    <div class="container">
      <button type="submit"> Solicitar produtos </button>
    </div>
  </form>
  <form action="{{ url_for('historico_movimentacoes') }}" class="top-bar">
    <div class="container">
      <button type="submit"> Historico </button>
    </div>
  </form>

</body>

<table>
  <tr>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Status</th>
  </tr>
  {% for p in produtos %}
  <tr>
    <td>{{ p[1] }}</td>
    <td>{{ p[2] }}</td>

    {% if p[2] <= p[3] %} <td style="color:red;">⚠ Pedir reposição</td>
      {% else %}
      <td style="color:green;">✔ Estoque OK</td>
      {% endif %}
  </tr>
  {% endfor %}
</table>

<!-- <body>
  <form action="{{ url_for('adicionar_produto') }}" class="back-bar">
    <div class="container">
      <button type="submit"> Back </button>
    </div>
  </form>

  <form action="{{ url_for('pedir_prod') }}" class="top-bar">
    <div class="container">
      <button type="submit"> Solicitar produtos </button>
    </div>
  </form>

</body> -->