<form action="{{ url_for('estoque') }}" class="back-bar">
  <div class="container">
    <button type="submit"> Back </button>
  </div>
</form>
<h2>Histórico de Movimentações</h2>
<table border="1">
  <tr>
    <th>Produto</th>
    <th>Tipo</th>
    <th>Quantidade</th>
    <th>Data e Hora</th>
  </tr>

  {% for movimentacao in movimentacoes %}
  <tr>
    <td>{{ movimentacao["nome"] }}</td>
    <td>
      {% if movimentacao["tipo"] == "saida" %}
      Saída
      {% else %}
      Entrada
      {% endif %}
    </td>
    <td>{{ movimentacao["quantidade"] }}</td>
    <td>{{ movimentacao["data_hora"] }}</td>
  </tr>
  {% endfor %}
</table>